[Unit]
Description=Watching instance for {{ item }}
BindsTo={{ item }}.service

[Service]
ExecStart=/bin/bash -c 'export IP=$(docker inspect --format "{{ '{{ .NetworkSettings.IPAddress }}' }}" {{ item }}.service); while true; do etcdctl set /{{ namespace }}/groups/{{ name }}/{{ item }} {\\"ansible_ssh_host\\":\\"$IP\\"}; sleep 45; done'
ExecStop=/usr/bin/etcdctl rm /{{ namespace }}/groups/{{ name }}/{{ item }}

[X-Fleet]
X-ConditionMachineOf={{ item }}.service
